.col-main {
  margin-bottom: 64px;
}

.col-main-left {
  padding-right: 128px;
}

.col-main-right {
  width: 200%;
  align-items: flex-end;
  justify-content: flex-end;
}

.colButton {
  width: 25%;
  margin-right: 14px;

  &:last-of-type {
    margin-right: 0px;
  }
}

h1 {
  margin: 84.99px 0 39px;
  padding-top: 5px;
  font-size: 3rem;
  font-weight: 600;
}

.btn-link {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
  height: 40px;
  max-width: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 16px;
    margin-left: 8px;
  }
}

.thumbButton {
  margin: 107.97px 14.7px 0 0;
  width: 100%;
  height: 72.01px;
  border-radius: 2.5px;
  border: none;
  background-size: cover;
  cursor: pointer;

  @media screen and (max-width: 1230px) {
    height: 52px;
  }

  &:hover {
    box-shadow: inset 0px 0px 0px 4px #fff;
  }
}

.tab-active {
  box-shadow: inset 0px 0px 0px 4px #fff;
}

.bigImg {
  width: 100%;
  height: 540px;
  border-radius: 10px;
  background-size: cover;
  min-width: 302px;

  @media screen and (max-width: 1230px) {
    height: 420px;
  }

  @media screen and (max-width: 1050px) {
    height: 380px;
  }

  @media screen and (max-width: 1000px) {
    height: 340px;
  }

  @media screen and (max-width: 950px) {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .rowButtons {
    flex-direction: row !important;
    justify-content: space-between;
    transform: translateY(340%);
  }

  .col-main {
    margin-bottom: 0px;
  }

  .col-main-left {
    padding-right: 0px;
    margin-bottom: 32px;
  }

  .col-main-right {
    width: 100%;
  }

  h1 {
    margin: 32px 0;
    padding-top: 0px;
  }

  .thumbButton {
    margin: 32px 9px 0 0;
    height: 82px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .bigImg {
    height: 380px;
    border-radius: 5px;
    transform: translateY(-30%);
  }
}

@media screen and (max-width: 576px) {
  .rowButtons {
    transform: translateY(260%);
  }

  .thumbButton {
    height: 45.29px;
  }

  .bigImg {
    height: 197px;
    transform: translateY(-40%);
  }
}
