.colNav {
  position: relative;
}

.row-header {
  padding: 32px 0;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.toggleMenu {
  border: none;
  background-color: transparent;
  max-width: 28px;
  max-height: 28px;
  margin: 0;
  position: absolute;
  top: 32px;
  right: 32px;
}

.toggleBar {
  width: 27px;
  height: 2.4px;
  background-color: #fff;
  margin: 6px 0;
  border-radius: 5px;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

li {
  text-decoration: none;
  display: inline-block;

  a {
    color: #fff;
    margin-left: 21px;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 8px;

    &:hover {
      color: #717171;
      transition: color 0.15s ease-in;
      border-bottom: 2px solid #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .logoHeader {
    width: 100px;
  }

  .colNav {
    align-items: center;
    text-align: center;

    li {
      display: block;
      margin: 12px 0;

      a {
        font-size: 14px;
      }
    }
  }
}
