@import 'components/Header/Header.scss';
@import 'components/Main/Main.scss';
@import 'components/Footer/Footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  padding: 0 4rem;

  @media screen and (max-width: 768px) {
    padding: 0 2rem 2rem;
  }
}

.row {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
}
